---
import { Icon } from "@astrojs/starlight/components"

const team = [
  {
    name: "Chase Philpot",
    img: "/assets/chase.jpeg",
    location: "New York, NY",
    github: "https://github.com/cmphilpot",
    linkedin: "https://www.linkedin.com/in/chase-philpot/"
  },
  {
    name: "Liam Turner",
    img: "/assets/liam.jpeg",
    location: "Yorkshire, UK",
    github: "https://github.com/LiamTurner347",
    linkedin: "https://www.linkedin.com/in/liamturner347/"
  },
  {
    name: "Mykel Murphy",
    img: "/assets/mykel.png",
    location: "Gainesville, FL",
    github: "https://github.com/mykelkyle",
    linkedin: "https://www.linkedin.com/in/mykel-murphy-7bb883179/"
  },
  {
    name: "Ralph Delia",
    img: "/assets/ralph.jpeg",
    location: "New York, NY",
    github: "https://github.com/ralphdelia",
    linkedin: "https://www.linkedin.com/in/ralph-delia-380194210/"
  },
];
---

<style>
.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.team-member {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 320px;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 0px rgba(20, 20, 20, 0.75);
  border-radius: 10px;
}

img {
  padding: 0;
  margin: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--sl-color-hairline-shade);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: var(--sl-color-bg);
}

.links {
  display: flex;
}
</style>

<section class="team-section" id="our-team">
  <h2>Meet The Team</h2>
  <div class="team-grid">
    {team.map(({ name, img, location, github, linkedin}) => (
      <div class="team-member">
        <img src={img} alt="Team member"/>
        <h3>{name}</h3>
        <p>{location}</p>
        <div class="links">
          <a href={github}><Icon name="seti:github" size="1.5rem"/></a>
          <a href={linkedin}><Icon name="linkedin" size="1.5rem"/></a>
        </div>
      </div>
    ))}
  </div>
</section>
