---
import { Icon } from "@astrojs/starlight/components"

const team = [
  {
    name: "Chase Philpot",
    img: "/assets/chase.jpeg",
    location: "New York, NY",
    github: "https://github.com/cmphilpot",
    linkedin: "https://www.linkedin.com/in/chase-philpot/",
    resume: "/assets/chase-resume.pdf"
  },
  {
    name: "Liam Turner",
    img: "/assets/liam3.png",
    location: "Yorkshire, UK",
    github: "https://github.com/LiamTurner347",
    linkedin: "https://www.linkedin.com/in/liamturner347/",
    resume: "/assets/liam-cv.pdf"
  },
  {
    name: "Mykel Murphy",
    img: "/assets/mykel.jpeg",
    location: "Gainesville, FL",
    github: "https://github.com/mykelkyle",
    linkedin: "https://www.linkedin.com/in/mykel-murphy-7bb883179/",
    resume: "/assets/mykel-resume.pdf"
  },
  {
    name: "Ralph Delia",
    img: "/assets/ralph.jpeg",
    location: "New York, NY",
    github: "https://github.com/ralphdelia",
    linkedin: "https://www.linkedin.com/in/ralph-delia-380194210/",
    resume: ""
  },
];
---

<style>
.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(to bottom, #0f0f11 0%, #202124 60%, #17181c);
  padding: 4rem 1rem;
  color: var(--sl-color-white)
}

.team-section h2 {
  margin-top: 0;
  font-size: var(--text-4xl);
  margin-bottom: 2rem;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.team-member {
  background: linear-gradient(145deg, #141416, #1d1d1e);
  border-radius: 12px;
  padding: 2rem;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 2px solid var(--sl-color-hairline-shade);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  background-color: var(--sl-color-bg);
}

.team-member h3 {
  margin: 0.5rem 0 0.25rem;
  font-size: var(--text-xl);
}

.team-member p {
  font-size: var(--text-base);
  margin: 0 0 1rem;
  color: #ccc;
}

.links {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.links a {
  color: var(--sl-color-accent-high);
  transition: color 0.3s ease;
}

.links a:hover {
  color: #ffffff;
}

</style>

<section class="team-section" id="our-team">
  <h2>Meet The <span class="highlight">Team</span></h2>
  <div class="team-grid">
    {team.map(({ name, img, location, github, linkedin, resume}) => (
      <div class="team-member">
        <img src={img} alt="Team member"/>
        <h3>{name}</h3>
        <p>{location}</p>
        <div class="links">
          <a href={github}><Icon name="seti:github" size="1.5rem"/></a>
          <a href={linkedin}><Icon name="linkedin" size="1.5rem"/></a>
          {resume !== "" && (
            <a href={resume}><Icon name="document" size="1.5rem" /></a>
          )}
        </div>
      </div>
    ))}
  </div>
</section>
